<div class="container">
    <div class="card">
        <div class="card-body">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia est ratione, assumenda fugiat voluptas praesentium magnam dicta, asperiores tenetur quidem, provident reiciendis nulla. Quasi odit explicabo quo quidem cupiditate officia.</p>
        </div>
    </div>
</div>