<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Notes app <b>Nodejs</b> & <b>MongoDB</b></h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, ea!</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam voluptate ipsum porro, ipsa sequi eveniet autem eos et ratione at repellat beatae tenetur voluptatum temporibus, magni provident perspiciatis similique recusandae.</p>
        <a href="#" class="btn btn-primary">Julio Web</a>
    </div>
</div>